<ion-header [translucent]="true">
 
</ion-header>

<ion-content [fullscreen]="true">
  <div class="topo" >
  <ion-buttons slot="start">
    <ion-button> 
      <ion-img 
      src="assets/img/menu.png"></ion-img>
    </ion-button>
  </ion-buttons>
  <ion-img class="LogoPro" slot="center"
  src="assets/img/nikeNovo.png"></ion-img>
  </div>

  <div class="3imagens">
  <ion-grid>
    <ion-row>
      <ion-col> <ion-img
        src="assets/img/tenis1.png"></ion-img></ion-col>
      <ion-col>
        <ion-img 
        src="assets/img/tenis2.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-img 
        src="assets/img/tenis3.png"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-img class="imgTenis"
  src="assets/img/image-removebg-preview (3) 2-1.png"></ion-img>
  </div>

  <h1>650$</h1>
  <p>O nosso tênis Nike é uma escolha perfeita para quem busca conforto e estilo. Com um design moderno e tecnologia avançada, este modelo oferece suporte total ao pé durante todo o dia. O preço é de $650, mas estamos oferecendo uma promoção especial Não perca esta oportunidade de adquirir um dos nossos tênis mais populares.</p>
</ion-content>
