<ion-header>
 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img class="LogoTopo"
  src="assets/img/nikeLogo.svg"></ion-img>
  <ion-img
  src="assets/img/imgNike1.png" ></ion-img>
 <h1>Summer Collections 2022</h1>
 <p>Desperte seu potencial com a Nike. A cada passo, uma história de superação e estilo. Vista o símbolo da vitória e faça história com cada movimento. </p>

<div class="botao">
  <ion-button size="large" color="warning" shape="round" routerLink="/produtos">
    Get started
    <ion-icon name="arrow-forward-circle-outline"></ion-icon>
  </ion-button>
</div>
</ion-content>
